body {
    background-color: #282b33;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    text-align: center;
    border: 1px solid gray;
    border-spacing: 0px;
    width: 50%;
    height: 300px;
    margin: 200px auto;
}
tr,td,th {
    border: 1px solid gray;

}
th {
    text-transform: uppercase;
}
.th1 {
    background-color: white;
    color: black;
}
.th2 {
    background-color: #FF9B00;
}
.th3 {
    background-color: #EA3C43;
}
.th4 {
    background-color: #07B8C7;
}